@model IEnumerable<MVC_Lab5.Models.PriceOffers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromotionalText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionalText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PriceOffersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PriceOffersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PriceOffersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
